@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Raleway', sans-serif; */


h1{
    /* @apply font-title */
}

p, span, h5{
    /* @apply font-content */
}

.numbers{
    @apply bg-gray-500 rounded-full p-4 text-white text-xl
}


.box-home-vend{

  @apply w-52 m-2 shadow hover:shadow-lg cursor-pointer rounded-lg text-xl font-bold text-center 
  flex flex-col items-center p-5 dark:border-indigo-300 dark:text-slate-300 text-gray-500 

}

.text-secondary-home{
  @apply text-gray-500

}

.box-ventas-dia{
  @apply shadow hover:shadow-xl flex h-24 gap-2 rounded-lg cursor-pointer
}



/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}


